@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

body {
  margin: 0;
  font-family: 'Exo', sans-serif;
}

* {
  box-sizing: border-box;
}

.nav {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  align-items: stretch;
}

.home{
  font-size: 1.75rem;
  color: white !important;
  background-color: black;
  padding-left: 1.15rem !important;
  padding-right: 1.15rem !important;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .75rem;
}

.nav li a.active {
  background-color: #9fc5e9;
}

.nav li:hover {
  background-color: #9fc5e9;
}

.content {
  display: flex;
  gap: 2rem;
}

.sideBar {
  background-color: #d9d9d9;
  /* height: 16rem;
  overflow: scroll;
  overflow-x: hidden; */
}

.sideBar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sideBar > ul > li {
  width: 10.25rem;
}

.sideBar > ul > li:hover {
  background-color: #9fc5e9;
}

.sideBarItem {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  padding: 0.25rem;
}

.sideBarItem.active {
  background-color: #9fc5e9;
}

.person {
  margin-top: 2rem;
}

.basicPage {
  margin: 2rem 1rem;
}

.attributes {
  display: inline;
}

.filmsList {
  margin: 0;
}